<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-5">
            <h1 class="dispay-2 text-center">Schedule</h1>
            <p class="text-center lead">Yours contacts:</p>

            <div class="responsive-table">
                <table class="table my-3">
                    <tr>
                        <td>Vitor</td>
                        <td>dos Santos</td>
                        <td>8937218</td>
                        <td>Viro@goa.com</td>
                    </tr>
                </table>
            </div>

        </div>

        <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer'); %>